<div class="container-box">
    <h2>Nouvelle réclamation</h2>

    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.commande) }}
        {{ form_widget(form.commande, {'attr': {'class': 'form-select'}}) }}
    </div>

    <button class="btn btn-success btn-custom">Enregistrer</button>

    {{ form_end(form) }}
</div>
