{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réclamation{% endblock %}

{% block body %}
    <h2>Nouvelle Réclamation</h2>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.sujet) }}
        {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 5}}) }}
    </div>

    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
