{% extends 'base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">
                    <i class="fas fa-plus"></i> Nouvelle Facture
                </h1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.numCommande) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.date) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.total) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.commande) }}
                    </div>
                </div>

                {{ form_row(form.user) }}

                <div class="mt-3">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Enregistrer
                    </button>
                    <a href="{{ path('app_facture_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Retour
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
